@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background: white;
    background: radial-gradient(circle, rgba(234,174,238,1) 0%, rgba(148,193,233,1) 86%);
}

.slider {
    position: relative;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .image {
    width: 800px;
    height: 350px;
    border-radius: 10px;
    
  }
  
  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 1rem;
    color: #f3eaea;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .left-arrow {
    position: absolute;
    top: 50%;
    left: 32px;
    font-size: 1rem;
    color: #f4f1f1;
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }
  
  .slide {
    opacity: 0;
    transition-duration: 1s ease;
  }
  
  .slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
  }
